<hr class="text-muted w-75 mx-auto">
<footer class="footer d-flex justify-content-center align-items-center py-5">
  <div class="social-list">
    <ul class="home-social d-flex">      
        <li class="d-flex align-items-center justify-content-center mx-3">
            <a href="https://www.behance.net/hebamamdouh" target="_blank"><i class="fab fa-behance fa-lg m-3"></i></a>
        </li>
        <li class="d-flex align-items-center justify-content-center mx-3">
            <a href="https://www.linkedin.com/in/heba-mamdouh-002917182/" target="_blank"><i class="fab fa-linkedin-in fa-lg m-3"></i></a>
        </li>
        <li class="d-flex align-items-center justify-content-center mx-3">
            <a href="https://github.com/heba2000" target="_blank"><i class="fab fa-github fa-lg m-3"></i></a>
        </li>
     </ul>
</div>  
</footer>
