<section class="contact d-flex justify-content-center">   
    <div class="layer d-flex justify-content-center align-items-center">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-9 text-left mx-auto"> 
                        <h1 class="mt-4 mb-3"> Edit Post </h1>
                    </div>
                </div>  
             </div>
        
    </div>
</section>
<section class="post-body py-2">
    <div class="container"> 
      <div class="row">
        <div class="col-md-9 text-left mx-auto py-3" [formGroup]="editPostForm" *ngIf="editPostForm"> 
              <div class="my-4">
                <label class="text-muted h6">Post Title</label>
                <input type="text" class="form-control" placeholder="Post Title"  value="{{post.title}}" formControlName="title" [class.is-invalid]="editPostForm.controls['title'].errors">
                <span *ngIf="editPostForm.controls['title'].errors?.['required'] && editPostForm.controls['title'].touched">Post Title is required </span>

              </div>
              <div class="my-4 ">
                <label class="text-muted h6">Post Image</label>
                <input type="file" class="form-control" (change)="selectImage($event)" placeholder="add image to your post"  [class.is-invalid]="editPostForm.controls['image'].errors && editPostForm.controls['image'].touched">
                <span *ngIf="editPostForm.controls['image'].errors?.['required'] && editPostForm.controls['image'].touched">Post Image is required </span>
                 <!-- <img [src]="imagePreview" class="my-2 img-thumbnail w-50">  -->

                <div *ngIf="(imagePreview != '' && imagePreview) ">  
                    <img  [src]="imagePreview" class="my-2 img-thumbnail w-50">                     
                </div>

                <div *ngIf="!(imagePreview =='' && imagePreview)">  
                    <img  [src]="recievedImage" class="my-2 img-thumbnail w-50">                                      
                </div> 
            </div>

              <div class="my-4 ">
                <label class="text-muted h6">Post Body</label>
                <textarea class="form-control"  placeholder="what is on your mind.."  value="{{post.postBody}}" rows="4"  formControlName="postBody" [class.is-invalid]="editPostForm.controls['postBody'].errors && editPostForm.controls['postBody'].touched"></textarea>
                <span *ngIf="editPostForm.controls['postBody'].errors?.['required'] && editPostForm.controls['postBody'].touched">Post Content is required </span>

              </div>
              <div class="my-4 ">
                <label class="text-muted h6">Post Tags</label>
                <input type="text" class="form-control"  placeholder="#tags"  formControlName="tags" (keyup.enter)="addtags()">
                <div class="pt-3">  
                  <span class="tag text-muted p-2 me-2" *ngFor="let postTag of tagsArray ;let currentIndex=index"> #{{postTag}} <i class="fas fa-times ms-4" (click)="splicetags(currentIndex)"></i> </span> 
              </div>
              </div>

        </div>
        <div class="col-md-9 mx-auto"> 
            <div class="button d-flex justify-content-center">
                <button class="btn btn-primary btn-lg px-5 py-3" (click)="EditPost()">POST</button>
             </div>
        </div>

          
    </div>
 </div>
</section>  

